.root {
    -fx-font-size: 10pt;
}

.console {
    -fx-font-family: "monospaced";
    -fx-font-size: 1.5em;
}

.console-text {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.console-text .text {
    -fx-font-family: "monospaced";
}

.code-viewer {
    -fx-font-size: 1.5em;
}

.value-viewer {
    -fx-font-size: 1em;
}

.font-icon {
    -fx-font-size: 1.25em;
}